<ion-header-bar class="bar-royal">

     <h2 class="title">Upload Images</h2>

</ion-header-bar>

<ion-content class="hus-subheader">
<div nv-file-drop="" uploader="uploader">

        <div class="container">

            <div class="row">

                <div class="col-md-9" style="margin-bottom: 40px">
				
                    <h3>Select files</h3>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                    <h2>Upload images</h2>
                    <h3>The queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <div class="row header">
                 	
					  <div class="col">Name</div>
					  <div class="col" ng-show="uploader.isHTML5">Size</div>
					  <div class="col" ng-show="uploader.isHTML5">Progress</div>
					  <div class="col">Status</div>
					  <div class="col">Actions</div>
					</div>
					<div class="row" ng-repeat="item in uploader.queue">
					
                    <div class="col" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }">{{ item.file.name }}</div>
				    <div class="col" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
				    <div class="col" ng-show="uploader.isHTML5"> <div class="progress" style="margin-bottom: 0;">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</div>
									
				  
								  
                                <div class="col" class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                                <div class="col" nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </div>
								
								</div>
                    
                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>
    </ion-content>
<div class="tabs-striped tabs-color-royal">
    <ion-tabs class="tabs-icon-top" >
        <ion-tab icon="ion-clipboard" title="List Tasks" href="#/list"></ion-tab>
        <ion-tab icon="ion-plus-circled" title="Add Task" href="#/form"></ion-tab>
        <ion-tab icon="ion-arrow-down-c" title="Upload Image" href="#/upload"></ion-tab>
    </ion-tabs>
</div>
